body {
  background-color: black;
  background-image: url("Images/transparent-square-tiles.png");
  animation-name: space;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes space {
  0%   {background-color: black;}
  25%  {background-color: #00001c;}
  50%  {background-color: #030333;}
  75% {background-color: #00001c;}
  100% {background-color: black;}
}

@keyframes noise {
  0% {background-color: rgba(7, 166, 184, 0.3);}
  100% {background-color: rgba(7, 166, 184, 0.1);}
}

h1 {
  color: darkblue;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  font-style: italic;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: lightblue;
}

div {
  color: #97fced;
  background-color: rgba(7, 166, 184, 0.3);
  border-color: #97fced;
  border-width: 1.5px;
  animation-name: noise;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}



.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
